[Unit]
Description=SSH Piping Server
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
Environment=IMAGE=joshuawatt/piping-tunnel:2021.1.6.2
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull $IMAGE
ExecStart=/usr/bin/docker run --rm --name %n \
    --net=host \
    $IMAGE \
    server --server https://pipe.wattissoftware.com \
    --port 22 \
    --yamux ssh-%H
ExecStop=/usr/bin/docker kill %n

[Install]
WantedBy=default.target
